.fotoMenu img {
  height: 100px;
  width: 100px;
}

/* =============== LOGO ================= */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* ============== TEXTO PAGINAS ================== */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navegacao {
  display: flex;
  align-items: center;
  gap: 1200px;
}

.Menu {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
}

.Menu li a {
  display: inline-block;
  padding: 5px 30px;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-size: 20px;
}

/* ======================= MENU EM CIMA ============================= */
body, html {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.main, .fotoMaior {
  margin: 0;
  padding: 0;
}

.fotoMaior img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  position: relative;
}

.textoFoto {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: left;
  color: white;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  top: 30%;
  left: 5%;
  font-weight: bold;
  line-height: 1;
}

.pFoto {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: left;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  top: 55%;
  left: 5%;
}

/* ================== FOTO COM TEXTO EM CIMA ==================== */
.Opcoes {
  position: absolute;
  top: 65%;
  left: 5%;
  display: flex;
  gap: 40px;
}

.Opcoes a {
  display: inline-block;
  padding: 25px 100px;
  border-radius: 8px;
  font-family: 'Roboto';
  text-decoration: none;
  color: white;
  white-space: nowrap;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

.Opcoes a:hover {
  background-color: rgb(255, 253, 251);
  color: black;
}

/* =================================== OPÇÃO EM CIMA DA FOTO ======================= */
.corpo {
  display: flex;
  text-align: center;
  width: 100%;
}

/* ================== FUNDO DA PAGINA ===================== */
.corpo h1 {
  font-size: 55px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.corpo p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1px;
}

.tituloPratos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ============================= TITULO FALANDO DO QUE TEM PARA COMER ============= */
.box {
  background-color: white;
  margin: 20px;
  width: 550px;
  height: 700px;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.pratos .box .foto {
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 20px;
}

.box p {
  color: rgb(12, 12, 12);
  padding: 20px 30px 20px 30px;
  text-align: left;
}

.box a {
  font-size: 21px;
  font-family: 'Playfair Display', serif;
}

.meio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.titulo-preco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 15px;
}

.titulo-preco h2 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin: 20px;
}

.titulo-preco h3 {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 20px;
}

/* =============================== QUADRADO =================== */
.lateral {
  flex-direction: column;
  margin-right: 20px;
}

.video {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 70px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.video h2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin-top: 5px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}

.video p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

.atendimento {
  width: 640px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Playfair Display', serif;
  margin-top: 50px;
  padding-bottom: 20px;
}

.atendimento h2 {
  margin-right: 220px;
  font-size: 28px;
  padding-top: 20px;
}

.linha {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.linha p {
  font-size: 18px;
  color: rgb(12, 12, 12);
  margin: 0;
  font-weight: 400;
}

.horario {
  font-size: 22px;
  font-weight: 400;
}

.Reserva{
  width: 640px;
  height: 640px;
  background-color: rgb(255, 255, 255)  ;
  margin-top: 80px;
}

.Reserva h2{
  font-size: 32px;
}


input{
  height: 50px;
  width: 600px;
  border-radius: 10px;
  margin-top: 6px;
  font-size: 18;
  border: 1px solid black;
  cursor: pointer;
}

input::-webkit-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

label{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 80px;
  padding-left: 10px;
}

.obs textarea{
  height: 120px;
  width: 630px;
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-top: 6px;
  border: 1px solid black;
}

textarea::-webkit-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.formula {
  margin-right: 400px;
}

.formulaH{
  padding-right: 547px;
}

.formulaE{
  padding-right: 572px;
}

.formulaN{
  padding-right: 540px;
}

.formulaD{
  padding-right: 576px;
}

.formulaO{
  padding-right: 495px;
}

.finalissima{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.clientes h1{
  padding-top: 50;
  font-size: 54px;
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

.final{
  padding-top: 0px;
  margin-top: 50px;
}

.finalissima h1{
  font-size: 54px;
  font-family: 'Playfair Display', serif;
  margin: 0px;
  margin-top: 100px;
}

.final p{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 20px 20px 20px;
  margin-top: 0px;
}

.final input{
  margin-top: 0px;
  border: 0.5;
  height: 50px;
  width: 300px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

.botao{
  font-size: 20px;
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;

}

.botao:hover{
  background-color: red;
  color: white;
  border: none;
}

.clientes{
  background-color:rgb(247, 249, 250);
  width: 100%;
  height: 800px;
  margin-top: 150px;
}

.tituloClientes{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  margin: 0px;
}

.relatorios{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.caixa{
  width: 550px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-left: 41px;
  margin-right: 41px;
}

.estrela {
  color: gold;                
  font-size: 40px;
}

.estrela::before {
  content: '★★★★★';               
  display: flex;
  padding: 10px 0px 0px 20px;
}
  
.comentarios{
  display: flex;
  padding: 10px 20px 20px 20px;
  font-size: 20px;
  line-height: 1.7;
}

.organizar{
  display: flex;
  padding: 6px 20px 20px 20px;
}

.organizar h1{
  font-size: 20px;
  padding: 10px 20px 0px 16px;
}

.colunas{
  flex-direction: column;
}

.organizar p{
  font-size:18x;
  padding: 0px 20px 0px 16px;
  color: rgb(58, 58, 58);
} 

.emailFinal .botaoF {
  height: 56px;          
  width: 150px;           
  border: 1px solid #000000; 
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;       
  color: black;
  background-color: white;
  cursor: pointer;       
}

.emailFinal .botaoF:hover {
  background-color: red;
  color: white;
  border: none;
}